# =========================
# Dependências
# =========================
node_modules/

# =========================
# Build Angular
# =========================
dist/
.angular/
.cache/

# =========================
# Ambiente / secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# =========================
# Arquivos locais de IDE
# =========================
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea/

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Temporários
# =========================
tmp/
temp/
*.tmp
*.swp
*.swo